---
bootstrap_url: http://192.168.33.10:80
cluster_name: 'vagrant'
exhibitor_storage_backend: static
ip_detect_filename: /genconf/ip-detect
master_discovery: static
master_list:
  - 192.168.33.11
agent_list:
  - 192.168.33.12
public_list:
  - 192.168.33.13
resolvers:
  - 8.8.8.8
  - 8.8.4.4
security: permissive
superuser_username: admin
superuser_password_hash: $6$rounds=656000$M4z8bexwbQNj5pQA$UhxUXP1vkLRhLw5q9QvyV0bEQ7KCszncYeXQfZ5xhjV73z87OkDHbxwGDBTh0HmVqLSOnqsGqbEHwuqVyDOrD.
zk_super_credentials: admin:test